<div>
    <table cellspacing="10" cellpadding="5" border="0" style="width: 100%">
        <tr>
            <td colspan="3">

                <div data-dojo-attach-point="orgNode"></div>

            </td>
        </tr>
         <!-- <tr>
            <td>
                <label>
                   &nbsp;网格警力：</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" checked data-dojo-attach-point="util_duty_WGJL" />&nbsp;</label>
            </td>
            <td>

            </td>
        </tr> -->
        <tr>
            <td>
                <label>
                    <input type="checkbox" checked data-dojo-attach-point="util_duty_RCXL" value="1"  />&nbsp;崩塌</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" checked data-dojo-attach-point="util_duty_ZDXL" value="3" />&nbsp;滑坡</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" checked data-dojo-attach-point="util_duty_ZDHD" value="5" />&nbsp;泥石流</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    <input type="checkbox"  data-dojo-attach-point="util_duty_SZJC" value="10" />&nbsp;水土流失</label>
            </td>
            <td>
                <label>
                    <input type="checkbox"  data-dojo-attach-point="util_duty_QTLX" value="0" />&nbsp;其他类型</label>
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>