<div class='${baseClass} ${class}' >
        <table style="height:20px; border:1px;cell-padding:3px; ">
          <tr>
            <td>
               <img src="/Content/themes/blue/images/police/jwtmj_1.gif" />
            </td>
            <td>
                <input dojoattachpoint="xlXM" readonly data-dojo-type="dijit.form.TextBox" style="width:90px;border:0px;"/>
            </td>
            <td>
                <input dojoattachpoint="xlZW" readonly data-dojo-type="dijit.form.TextBox" style="width:40px;border:0px;"/>
            </td>
            <td>
                <input dojoattachpoint="xlSJ" readonly data-dojo-type="dijit.form.TextBox" style="width:90px; border:0px;" />
            </td>
<!--            <td>
               警号:
            </td>
            <td>
                <input dojoattachpoint="xlJH" data-dojo-type="dijit.form.TextBox" style="width:30px;"/>
            </td>
             <td>
               时段 从:
            </td>
            <td>
                <input dojoattachpoint="xlSDC" data-dojo-type="dijit/form/TimeTextBox" data-dojo-props="constraints: { timePattern: 'HH:mm',clickableIncrement: 'T01:00:00',visibleIncrement: 'T01:00:00',visibleRange: 'T05:00:00'}"  style="width:50px;"/>
            </td>
            <td>
               至:
            </td>
            <td>
                <input dojoattachpoint="xlSDZ" data-dojo-type="dijit/form/TimeTextBox" data-dojo-props="constraints: { timePattern: 'HH:mm',clickableIncrement: 'T01:00:00',visibleIncrement: 'T01:00:00',visibleRange: 'T05:00:00'}"   style="width:50px;"/>
            </td>
            -->
            <td>
                <input dojoattachpoint="xlBH" data-dojo-type="dijit.form.TextBox" style="display:none"/><button dojoType="dijit/form/Button" dojoattachpoint="xlDelete" >删除</button>
            </td>
          </tr>
        </table>
</div>