<div class='egisPopup ${class}' id='${id}'>
    <div class='title' data-dojo-attach-point='titleNode'>
        <span class='icon'><img src='${icon}'/></span>
        <span class='text'>${title}</span>
        <span class='detail' data-dojo-attach-point='detailNode'>${detailText}</span>
        <div class='closeBtn' data-dojo-attach-point='closeNode'></div>
    </div>
    <div class='content' data-dojo-attach-point='contentNode'>
        <div class='container' data-dojo-attach-point='containerNode'></div>
    </div>
    <div data-dojo-attach-point='tailNode' class='tail'></div>
</div>


