<div>
    <div data-dojo-type="dijit.TitlePane" data-dojo-props="title:'待选用户', toggleable:false"
        style="float: left; margin-left: 50px; margin-top: 15px;">
        <div data-dojo-attach-point="from_node" class="container" style="width: 180px; height: 250px;
            overflow: auto;">
        </div>
    </div>
    <div data-dojo-type="dijit.TitlePane" data-dojo-props="title:'已选用户', toggleable:false"
        style="float: left; margin-left: 70px; margin-top: 15px;">
        <div data-dojo-attach-point="to_node" class="container" style="width: 180px; height: 250px;
            overflow: auto;">
        </div>
    </div>
</div>