<div id="${id}">
    <table  cellspacing="0" cellpadding="0" border="0" style="width: 100%">
        <tr>
            <td width="24px">
                <div dojoattachpoint="setingButton" style="display:none;cursor: pointer;">
                    <img src="/Content/themes/blue/images/map/themes/setting_24.png" /></div>
            </td>
            <td>
                <ul class="boxinfo">
                    <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="ZZButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/ZZ2.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/ZZ.png',enableToggle:true,tipText:'柱状分析'">
                        </div>
                    </li>
                    <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="BZButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/BZ2.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/BZ.png',enableToggle:true,tipText:'饼图分析'">
                        </div>
                    </li>
                    <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="XZButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/XZ2.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/XZ.png',enableToggle:true,tipText:'线状分析'">
                        </div>
                    </li>
                </ul>

            </td>
        </tr>
    </table>
</div>
