<div dojotype="dijit.layout.BorderContainer" style="width: 100%; height: 100%; padding: 0px;">
    <div dojotype="dijit.layout.ContentPane" region="center" style="padding: 0px;width: 100%; height: 50%; padding-top: 60px; border: 0px;" splitter="true">
        <div dojotype="dijit.layout.BorderContainer" style="width: 100%; height: 100%;">
            <div dojotype="dojox/layout/ContentPane" id="leftContent" region="left" title="柱状统计分析" style="width: 50%; border: 0px;">
                <div id="columnDiv" style="height: 100%; width: 100%">
                </div>
            </div>
            <div dojotype="dojox/layout/ContentPane" id="rightContent" region="center" title="饼状统计分析" style="border: 0px;">
                <div id="pieDiv" style="height: 100%; width: 100%">
                </div>
            </div>
        </div>
    </div>
    <div dojotype="dijit.layout.ContentPane" region="bottom" splitter="true" style="height: calc(50% - 70px); padding: 0px;">
        <div dojotype="dojox/layout/ContentPane" id="bottomContent" region="center" title="线状统计分析" style="border: 0px;">
            <div id="lineDiv" style="height: 100%; width: 100%">
            </div>
        </div>
    </div>
</div>





