<div>
    <div data-dojo-type="dijit/layout/AccordionContainer" style="height:100%;width:100%;">
        <div data-dojo-type="dijit/layout/AccordionPane"  title="设置巡检范围" selected="true">
            <div data-dojo-type="dijit/layout/LayoutContainer" style="height:100%;width:100%;" data-dojo-attach-point="kjcxAccordionPane">

            </div>
        </div>
    <!--    <div data-dojo-type="dijit/layout/AccordionPane"  title="属性查询">

        <div style='margin-top: 10px;'>
        <label>名称:</label> <input data-dojo-attach-point="mccxInputVal" style="height: 18px;width:160px;" data-dojo-type="dijit/form/TextBox" />
        </div>

        <div style='margin-top: 10px;'>
                <label>
                  机构: </label><input data-dojo-type='egis/Share/component/OrgTree/OrganizationTextBox' style="height: 18px;width:160px;" data-dojo-props='' data-dojo-attach-point='organizationTextBox' /><button data-dojo-type="dijit/form/Button" data-dojo-attach-point="mccxBtnNode"  type="button">查询</button>

        </div>    

        </div> -->

    </div>
</div>