<div>
    <table cellspacing="10" cellpadding="5" border="0" style="width: 100%">
        <tr>
            <td colspan="4">

                <div data-dojo-attach-point="orgNode"></div>

            </td>
        </tr>
        <tr>
            <td>
                <label>
                 类型：</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" checked data-dojo-attach-point="util_video_QJ" /><img src="/Content/themes/blue/images/video5.png" width="24px" />枪机</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" checked data-dojo-attach-point="util_video_QQ" /><img src="/Content/themes/blue/images/video3.png" width="24px" />球机</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" checked data-dojo-attach-point="util_video_GK" /><img src="/Content/themes/blue/images/video1.png" width="24px" />高空</label>
            </td>
        </tr>
    </table>
</div>