<div style="margin-left:25px;">
    <table cellspacing="15" cellpadding="15">
    	<tr>
    		<td>地图中心点(经度):</td>
            <td>
                <input data-dojo-attach-point="lon_node" 
                       data-dojo-type="dijit.form.TextBox"/>
            </td>
    	</tr>

        <tr>
    		<td>地图中心点(纬度):</td>
            <td>
                <input data-dojo-attach-point="lat_node" 
                       data-dojo-type="dijit.form.TextBox"/>
            </td>
    	</tr>

        <tr>
    		<td>显示级别:</td>
            <td>
                <select data-dojo-attach-point="displayLevel_node" data-dojo-type="dijit.form.Select">
                    <option value="1">
					    级别1
				    </option>
                    <option value="2">
					    级别2
				    </option>
                </select>
            </td>
    	</tr>
        
        <tr>
    		<td>行政区划:</td>
            <td>
                <input data-dojo-attach-point="region_node" 
                       data-dojo-type="dijit.form.TextBox"/>
            </td>
    	</tr>
    </table>
    

</div>
