<div style="width: 100%; padding-top: 65px; height: calc(100% - 65px);">
    <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true"
        style="width: 100%; height: 100%;">
        <div data-dojo-type="dijit/layout/AccordionContainer" style="width: 280px;"
            data-dojo-props="region:'left', splitter:false">
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'用户权限'">
                <div id="orgSearchPane" data-dojo-attach-point="orgSearchPane" style="cursor: pointer; 
                    height: 30px; padding-top: 2px; padding-left: 10px; line-height: 30px">
                    &gt; 组织信息</div>
                <div id="orgTreePane" data-dojo-attach-point="orgTreePane" style="cursor: pointer;
                    height: 30px; padding-top: 2px; padding-left: 10px; line-height: 30px">
                    &gt; 组织结构</div>
                <div id="roleSearchPane" data-dojo-attach-point="roleSearchPane" style="cursor: pointer;
                    height: 30px; padding-top: 2px; padding-left: 10px; line-height: 30px">
                    &gt; 角色管理</div>
                <div id="userSearchPane" data-dojo-attach-point="userSearchPane" style="cursor: pointer;
                    height: 30px; padding-top: 2px; padding-left: 10px; line-height: 30px">
                    &gt; 用户管理</div>
            </div>
        </div>
        <div id="operateGrid" style="width: 100%; height: 100%;" data-dojo-type="dijit/layout/BorderContainer"
            data-dojo-props="region:'center', splitter:false, gutters:true">
        </div>
    </div>
</div>