<div dojoattachpoint="containerNode" role="region" tabindex="-1" >
    <table border="0" cellspacing="10" cellpadding="5" width="100%">
        <tr>
            <td>
                <input data-dojo-attach-point="checkNode1" data-dojo-type="dijit/form/CheckBox" value="Police" checked />警力
                    </td>
            <td>
                <input data-dojo-attach-point="checkNode2" data-dojo-type="dijit/form/CheckBox" value="Video" checked />视频
                    </td>
            <td>
                <input data-dojo-attach-point="checkNode3"  data-dojo-type="dijit/form/CheckBox" value="Detector" />卡口
                    </td>
        </tr>
        <tr>
            <td>
                <input data-dojo-attach-point="checkNode4" data-dojo-type="dijit/form/CheckBox" value="Block"  />堵控点
                    </td>
            <td>
            </td>
             <td>
            </td>
        </tr>
    </table>
</div>
