<div class='${baseClass} ${class}'>
    <button type="button" dojoattachpoint="LocateButton" width="100%" style="background-color: #fff;border: 0px">
        <table style="width:100%;height:40px;border-bottom-style:ridge">
          <tr>
             <td rowspan="2"  style="width:32px;padding-left:3px;padding-right:3px;">
               <img dojoAttachPoint="iconImg" style="position:relative"  alt="" width="32px" height="32px">
            </td>
            <td  style="width:90%">
                <b><span dojoattachpoint="detectorTime" style="color:#0000ff;float:left" ></span></b>
            </td>
          </tr>
          <tr >
            <td>
                <span dojoattachpoint="detectorInfo" style="float:left" ></span>
            </td>
          </tr>
        </table>
    </button>
</div>