<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/Content/themes/blue/login.css" />

</head>
<body id="defaultBody" style="overflow:hidden;" background="/Content/themes/blue/loginBG.png">
    <table cellpadding="0" cellspacing="0" border="0" style="height:100%;width:100%;"  >
        <tr><td>
            &nbsp;
            </td>
            <td width="1280px" style="vertical-align:top;">
    <div style="height:100%;width:100%;position:absolute;top: calc(50% - 400px);" >
        <div style="position:absolute;top:400px;left:900px;">

            <table cellpadding="0" cellspacing="0" border="0" background="/Content/themes/blue/loginArea.png" height="280" width="380">
                <tbody>
                    <tr>
                        <td height="20"></td>
                    </tr>
                    <tr>
                        <td id="rightTD">
                            <form name="f1" method="POST" target="_top" action="/login/check" onsubmit="">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" id="iNUCont">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                <p class="cssAppHeader" style="margin-bottom: 4px;">&nbsp;</p>
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                               
                                                <table id="i0518" ${loginMsg!"style=\"display:none;\""} cellpadding="0" cellspacing="0"><tbody><tr><td class="cssErrorImg"><img src="/Content/themes/blue/icon_err.gif?x=4.5.6172.0" id="i2017" alt="错误符号"></td><td class="cssError">${loginMsg}!</td></tr></tbody></table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <input type="hidden" name="LocalIPAddr" id="LocalIPAddr"><td class="cssLabel">
                                                <label for="i0116">
                                                    <nobr><img id="i2040" src="/Content/themes/blue/LiveID16.gif?x=4.5.6172.0" class="cssWLIDLogo16">用户名:</nobr>
                                                </label>
                                            </td>
                                            <td class="cssTextBoxTD">
                                                <input id="i0116" name="username" type="text" maxlength="113" autocomplete="off" value="" size="26"><div class="cssHelpText">
                                                    <p style="color: #777777"></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <table cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td id="i0512"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <input type="hidden" name="LocalIPAddr" id="LocalIPAddr"><td class="cssLabel">
                                                <label for="i0118">
                                                    <nobr>密码:</nobr>
                                                </label>
                                            </td>
                                            <td class="cssTextBoxTD">
                                                <input id="i0118" name="password" type="password" maxlength="16" autocomplete="off" size="26">
                                            </td>
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <table cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2" style="padding: 16px 0 21px 0">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="cssBtnBorder cssBtnDefault">
                                                                                <nobr><input id="idSIButton9" name="SI" type="submit" value="  登录 " style="background-image:url(/Content/themes/blue/btnbkgnd_hot.gif?x=4.5.6172.0)" class="cssBtn"></nobr>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td width="30px"></td>
                                                            <td colspan="2" style="padding: 16px 0 21px 0">
                                                                <table cellpadding="0" cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="cssBtnBorder cssBtnDefault">
                                                                                <nobr><input id="idReturn" name="SI" type="Button" value="  取消  " style="background-image:url(/Content/themes/blue/btnbkgnd_hot.gif?x=4.5.6172.0)" class="cssBtn"></nobr>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                               </form>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
            </td>
            <td>
                 &nbsp;
            </td>
        </tr>

    </table>



</body>
</html>
