<div class='layer-switch'>
	<table class='opener' data-dojo-attach-point='openerNode' data-dojo-attach-event='onclick:_onOpenerClick, ondblclick:_onOpenerDblClick'>
		<tbody>
			<tr>
				<td>
					资源
				</td>
				<td>
					<img src='data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAQAIBRAA7' class= 'menu-expand menu-collapse' data-dojo-attach-point='expandImgNode'>
				</td>
			</tr>
		</tbody>
	</table>
	<div data-dojo-attach-point='menuNode' class='mainMenu'></div>
	<div style = "clear: both;">
</div>