<div id="${id}">
    <table  cellspacing="0" cellpadding="0" border="0" style="width: 100%">
        <tr>
            <td width="24px">
                <div dojoattachpoint="setingButton" style="display:none;cursor: pointer;">
                    <img src="/Content/themes/blue/images/map/themes/setting_24.png" /></div>
            </td>
            <td>

                <ul class="boxinfo">
                    <!-- <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="PoliceButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/Police1_32.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/Police_32.png',enableToggle:true,tipText:'警力'">
                        </div>
                    </li>
                    <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="VideoButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/Video1_32.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/Video_32.png',enableToggle:true,tipText:'视频'">
                        </div>
                    </li>
                    <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="JTXHDButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/traffice1_32.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/traffice_32.png',enableToggle:true,tipText:'信号灯'">
                        </div>
                    </li>
                    <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="JTYDPButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/YDP1_32.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/YDP_32.png',enableToggle:true,tipText:'诱导牌'">
                        </div>
                    </li> -->
                    <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="JRJQButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/JRJQ1_32.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/JRJQ_32.png',enableToggle:true,tipText:'近一月灾害发生点'">
                        </div>
                    </li>
                    <!-- <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="GCCButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/GCC2.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/GCC.png',enableToggle:true,tipText:'工程车'">
                        </div>
                    </li> -->
                    <li dojoattachpoint="WGLi">
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="WGButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/WG2.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/WG.png',enableToggle:true,tipText:'地质危点'">
                        </div>
                    </li>
 <!--                   <li>
                        <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="DetectorButton"
                            data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/Detector1_32.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/Detector_32.png',enableToggle:true,tipText:'抓拍卡口'">
                        </div>
                    </li>-->
                </ul>

            </td>
        </tr>
    </table>
</div>
