<div id="${id}">
    <ul class="boxinfo">
        <li>
            <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="markButton"
                 data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/mark_24.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/mark_24.png',enableToggle:true,tipText:'标点'">
            </div>
        </li>
        <li>
            <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="cejuButton"
                 data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/ceju_24.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/ceju_24.png',enableToggle:true,tipText:'测距'">
            </div>
        </li>
        <li>
            <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="quanButton"
                 data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/quan_24.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/quan_24.png',enableToggle:true,tipText:'全图'">
            </div>
        </li>
        <li>
            <div data-dojo-type="egis/Share/component/Button/ImageButton" dojoattachpoint="deleteButton"
                 data-dojo-props="unpressedImg:'/Content/themes/blue/images/map/themes/delete_24.png',
                 pressedImg: '/Content/themes/blue/images/map/themes/delete_24.png',enableToggle:true,tipText:'清除'">
            </div>
        </li>
    </ul>
</div>
