<div class="date-time-picker ${baseClass}">
    <span class="labelField">${label}</span>
    <input class="dateField" type="text" style="width: 100px;" data-dojo-type="dijit/form/DateTextBox" data-dojo-attach-point="dateTextBox" data-dojo-props='' />
    <input class="timeField" type="text" style="width: 85px;" data-dojo-type="dijit/form/TimeTextBox" data-dojo-attach-point="timeTextBox" 
    data-dojo-props="constraints: { timePattern: 'HH:mm',clickableIncrement: 'T01:00:00',visibleIncrement: 'T01:00:00',visibleRange: 'T05:00:00'}" />
</div>
