<div class="period-picker ${baseClass}">
    <span class='period'>
        <input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="period2" data-dojo-props="periodId:2" />上午
    </span>
    <span class='period'>
        <input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="period3" data-dojo-props="periodId:3" />下午
    </span>
    <span class='period'>
        <input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="period4" data-dojo-props="periodId:4" />上半夜
    </span>
    <span class='period'>
        <input data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="period1" data-dojo-props="periodId:1" />下半夜
    </span>
</div>
