<div>
    <table cellspacing="2" cellpadding="2" border="0" style="width: 100%">
        <tr>
            <td colspan="6">

                <div data-dojo-attach-point="orgNode"></div>

            </td>
        </tr>
        <tr>
            <td>
                <label>
                    &nbsp;民警</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" data-dojo-attach-point="util_police_manDJJ" checked />&nbsp;对讲机</label></td><td><img src="/Content/themes/blue/images/police/p-32.png" width="24px" />
            </td>
            <td>
                <label>
                    <input type="checkbox" data-dojo-attach-point="util_police_manJWT" checked />&nbsp;警务通</label></td><td><img src="/Content/themes/blue/images/police/p32.png" width="24px" />
            </td><td>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                   &nbsp;辅警</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" data-dojo-attach-point="util_police_xjDJJ" checked />&nbsp;对讲机</label></td><td><img src="/Content/themes/blue/images/police/f-32.png" width="24px" />
            </td>
            <td>
                <label>
                    <input type="checkbox" data-dojo-attach-point="util_police_xjJWT" checked />&nbsp;辅警通</label></td><td><img src="/Content/themes/blue/images/police/f32.png" width="24px" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <label>
                   &nbsp;警车</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" data-dojo-attach-point="util_police_car" checked />&nbsp;车载台</label></td><td><img src="/Content/themes/blue/images/police/c-32.png" width="24px" />

            </td>
            <td>
            </td><td></td><td>
            </td>
        </tr>
        <tr>
            <td>
                <label style="color:#15b100;">
                    <input type="checkbox" data-dojo-attach-point="util_police_BB" />&nbsp;值勤</label>
            </td>
            <td>
                <label style="color:#8b01be;">
                    <input type="checkbox" data-dojo-attach-point="util_police_CJ" />&nbsp;出警</label>
            </td>
            <td>
                <label style="color:#ff1000;">
                    <input type="checkbox" data-dojo-attach-point="util_police_CZ" />&nbsp;处置</label>
            </td>
            <td>
                <label>
                    <input type="checkbox" data-dojo-attach-point="util_police_ZX" />&nbsp;在线</label>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding:8px;">
                <div>
                <label>上图效果:</label>&nbsp;&nbsp;<label><input type="checkbox" data-dojo-attach-point="util_police_point" checked />警力撒点</label>
                    
                <label>&nbsp;&nbsp;<input type="checkbox" data-dojo-attach-point="util_police_cold" />警力冰点</label>
                
                </div>
            </td>
        </tr>
    </table>
</div>


