<div class="otherbutton-box" data-dojo-attach-point="other_button_list">
    <ul>
        <li dojoattachpoint="li_JX"><button  dojoattachpoint="otherbuttonJX" class="other-button rect"></button></li>
        <li dojoattachpoint="li_YX"><button  dojoattachpoint="otherbuttonYX" class="other-button circle"></button></li>
        <li dojoattachpoint="li_DBX"><button dojoattachpoint="otherbuttonDBX" class="other-button polygon"></button></li>
        <li dojoattachpoint="li_XX"><button  dojoattachpoint="otherbuttonXX" class="other-button line"></button></li>
    </ul>
</div>