<div id="${id}">
    <div dojoattachpoint="canvas" class="dojoxFloatingPaneCanvas">
        <div dojoattachpoint="containerNode" role="region" tabindex="-1" class="${contentClass}">

            <div dojoattachpoint="searchbox-container" class="searchbox-container">
                <table style="padding:0px;border-spacing: 0px;">
                    <tr>
                        <td>
                            <input dojoattachpoint="searchinput" class="sole-input" name="word" autocomplete="off" maxlength="256" placeholder="搜设备编号、名称" value="">
                        </td>
                        <td>
                            <button dojoattachpoint="searchbutton"  class="search-button" data-title="搜索" data-tooltip="2"></button>
                        </td>
                        <td>
                            <button  dojoattachpoint="otherbutton"  class="other-button"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
